.confirmation-container {
    overflow-y: auto;
    background-color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.confirmation-title {
    font-weight: bold;
}

.confirmation-data {
    background-color: #eceff1;
    border-radius: 5px;
    padding: 10px;
}

.confirmation-data p {
    word-break: break-word;
}

.confirmation-buttons {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: flex-end;
}

.confirmation-buttons .button:not(:first-child) {
    margin-left: 10px;
}

.button {
    border-radius: 5px;
    box-shadow: none;
    background: none;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.button.button-primary {
    color: white;
    background-color: #263238;
}

.button.button-secondary {
    color: #263238;
    border: 1px solid #263238;
}
